/* General */

.aboutme-description .container{
    text-align: left;
}

.aboutme-description p{
    text-align: left;
}

#aboutme-img img{
    height: 50vh;
    width: 100%;
}

.bio-share a{
    color: white;
    font-size: 5vh;
    letter-spacing: 10px;
}

/* por el tema del boton works que tapa abajo*/

#body-bio{
    margin-bottom: 48px;
    margin-top: 40px;
}

