/* General */


/* Imagen inicial de pagina*/

#contact-img div{
    height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

/* Formulario contacto */

#contact-form{
    
}
