/* General */


/* Imagen inicial de pagina*/

#contact-img div{
    height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

/* Formulario contacto */

#contact-form h1{
    border: solid white;

}

.feedback-input {
  color:white;
  font-weight:500;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border-bottom:2px solid white;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  outline:0;
}

#contact-form p{
    font-weight:500;
    font-size: 18px;
    line-height: 22px;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    border-bottom:2px solid white;

}

/* media query */

@media (min-width: 768px) {

    #contact-form h1{
        max-width: 40vw;
    }

    #contact-form p{
        max-width: 40vw;
    }

    .feedback-input{
        max-width: 40vw;
    }

     }