.menu {
    height: 100%;
    width: 0;
    opacity: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color:black;
    overflow: hidden;
    transition: 1s;
}

.menu-content {
    position: relative;
    top: 10%;
    left: 5%;
    text-align: left;
}

.menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 3rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    font-weight: 500;
}
.menu a:hover {
    text-decoration: underline;
}

.menu a:hover, .menu a:focus {
    color: #ffffff;
}
.menuButton {
    top: 0px; 
    left: 0px;
    height: 102px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
}
.menuButton > a {
    z-index: 1001;
}
.menuTitle {
    height: 102px; 
    z-index: 1000;
    background-color: transparent;
}
.menuTitle .menuTitle__img {
    width: 107px;
    height: auto;
}

#openNav {
    cursor: pointer;
}
#openNav i {
    animation: rotateFade 1s;
}

.fadein{
    animation: fade 1s;
}

@media screen and (max-height: 450px) {
    .menu a {font-size: 20px}
}

@keyframes rotateFade {
    0%{ 
        opacity: 0;
        transform: rotate(0deg);
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: rotate(180deg);
    }
}
@keyframes fade {
    0%{ 
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

