/*fuente Athomic*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap'); 

html, body {
    background-color: #000000;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
.bg-blanco {
  background-color: white !important;
}


header {
  height: calc(100vh - 48px);
  /* background-image: url(../img/64f2c469421155.5e93d8e4015f1.jpg);  */
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
}

/* Index */

/* header */
.header-content{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}


/* footer */

footer{
  height: 30px; 
  color: white; 
  margin-bottom: 48px;
}
footer a {
  font-family: 'Audiowide';
}

@media (max-width: 768px) {
  footer {
    height: 60px;
  }
}