html, body {
    background-color: #000000;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.btn-lg {
    cursor: pointer;
}
.btn-lg i {
    animation: rotateFade 1s;
}

header {
  min-height: 100vh; 
  background-image: url(../img/64f2c469421155.5e93d8e4015f1.jpg); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
}
