body {
    background-color: black !important;
}
.work--container {
    margin: 10px 0px;
    height: 50vh;
    background-size: cover;
}
.work--container p {
    text-align: center;
    font-size: 1.1rem;
}