body .works{
    background-color: white !important;
    margin-bottom: 48px;
}
.work--container {
    margin: 2vh 0vh;
    height: 50vh;
    background-size: cover;
    position: relative;
    border: solid 1px;
}
.work--container a {
    text-align: center;
    font-size: 1.1rem;
    position: absolute;
    top: 90%;
    left: 3%;
    opacity: 1;
}

/* Media querys */


@media (min-width: 768px){
    .work--container {

    }
    .work--container a {
        opacity: 0;
        transition: .2s;
    }

    .work--container:hover a {
        opacity: 1;
        transition: .2s;
      }
}