.about-container{
    min-height: 100vh;
}
.about-container > .row {
    height: 100%;
}
.about-img{
    height: 100vh; 
    object-fit: cover;
}
@media(max-width: 768px){
    .menuTitle__img{
        filter: invert(0) !important;
    }
}