@font-face {
    font-family: 'GraphikMedium';
    src: url(../fonts/GraphikMedium.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GraphikRegular';
    src: url(../fonts/GraphikRegular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DrukBold';
    src: url(../fonts/DrukText-Bold.otf);
    font-weight: normal;
    font-style: normal;
}
.nav{
    z-index: 1000;
}
.menu {
    height: 100%;
    width: 0;
    opacity: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color:black;
    overflow: hidden;
    transition: 1s;
    font-family: 'GraphikMedium';
}

.menu-content {
    position: relative;
    top: 137px;
    left: 64px;
    text-align: left;
}

.menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 38px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    line-height: 68px;
    white-space: nowrap;
}
.menu a:hover {
    text-decoration: underline;
}
.menu a:hover, .menu a:focus {
    color: #ffffff;
}
.menu-content__icons{
    padding-top: 17px;
}
.menu-content__icons a {
    font-size: 28px;
}
.menuButton {
    top: 0px; 
    left: 0px;
    height: 102px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
}
.menuButton > a {
    z-index: 1001;
}
.menuTitle {
    height: 102px; 
    z-index: 1000;
    background-color: transparent;
}
.menuTitle .menuTitle__img {
    width: 107px;
    height: auto;
}
.invertImageColor{
    filter: invert(1);
}
#openNav {
    cursor: pointer;
}
#openNav i {
    animation: rotateFade 1s;
}
#openNav span{
    font-size: 16px;
}

.fadein{
    animation: fade 1s;
}
.bottom_navigation{
    z-index: 999;
}
/* @media screen and (max-height: 450px) {
    .menu a {font-size: 20px}
} */

/*Mobile*/
@media (max-width: 764px) {
    .menu-content{ 
        left: 49px;
    }
    .menu a{
        font-size: 24px;
        line-height: 40px;
    }
    .menuTitle .menuTitle__img {
        width: 51px;
        height: auto;
    }
    .menuTitle {
        height: 47px;
    }
    .menuButton{
        height: 47px;
        padding-left: 0px;
    }
}

@keyframes rotateFade {
    0%{ 
        opacity: 0;
        transform: rotate(0deg);
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: rotate(180deg);
    }
}
@keyframes fade {
    0%{ 
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

