/* Acomodando*/
.project-begin .container h1{
    font-size: 10vh;
}

.project .container p{
    font-size: 3vh;
}

#project-video{
    height: 30vh;
    background-color: grey;
}

.project-img{
    height: 40vh;
    background-color: grey;
}

.project-share a{
    color: white;
    font-size: 5vh;
    letter-spacing: 10px;
}

/* por el tema del boton works que tapa abajo*/

#body-projects{
    margin-bottom: 48px;
    margin-top: 40px;
}

/* media query */

@media (min-width: 768px){
    #project-video{
        height: 60vh;
    }
}