.work__header{
    height: 95vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work__header--title{
    font-family: 'DrukBold';;
    font-size: 147px;
    text-transform: uppercase;
    letter-spacing: -6px;
    color: white;
    text-align: center;
}

.work__image{
    margin-top: 38px;
}
.work__image--item{
    width: 100%;
    object-fit: cover;
}
.work__imageInRow--left{
    padding-right: 19px !important;
}
.work__imageInRow--right{
    padding-left: 19px !important;
}
.work__image iframe{
    width: 100%;
    height: 900px;
}
.project__about{
    margin-top: 131px;
    margin-bottom: 131px;
}
.project__about--title{
    font-family: 'DrukBold';
    font-size: 62px;
    letter-spacing: -4px;
    text-transform: uppercase;
}
.project__about--description{
    font-family: 'GraphikRegular';
    font-size: 20px;
    line-height: 24px;
}
.share__container{
    text-align: right;
}
.share__container--title{
    font-family: 'GraphikRegular';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.share__container--icons{
    margin-top: -5px;
}
.share__container--icons a{
    color: black;
    font-size: 22px;
    margin-left: 15px;
}

@media(max-width: 768px){
    .work__header--title{
        font-size: 55px;
        letter-spacing: -4px;
    }
    .work__image{
        margin-top: 11px;
    }
    .work__imageInRow--left{
        padding-right: 0px !important;
    }
    .work__imageInRow--right{
        padding-left: 0px !important;
    }
    .work__image iframe{
        height: 400px;
    }

    .project__about{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .project__about--title{
        font-size: 40px;
        letter-spacing: 0px;
    }
    .project__about--description{
        font-size: 16px;
        line-height: 20px;
    }
    .share__container{
        margin-top: 50px;
        text-align: left;
    }
    .share__container--icons a{
        margin-left: 0px;
        margin-right: 15px;
    }
    
    
}