/*fuente Athomic*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap'); 

html, body {
    background-color: #000000;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
.bg-blanco {
  background-color: white !important;
}
.bg-negro{
  background-color: black !important;
}


header {
  height: calc(100vh - 48px);
  /* background-image: url(../img/64f2c469421155.5e93d8e4015f1.jpg);  */
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
}

/* Index */

/* header */
.header-content{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

/* home contact */
.home__contact{
  width: 100vw;
  height: 400px;
  background-color: white;
  padding: 50px 18px;
}
.home__contact--title{
  font-size: 50px;
  font-family: 'DrukBold';
  letter-spacing: -3px !important;
}
.home__contact--content{
  font-family: 'GraphikRegular';
  font-size: 16px;
  color: #000000;
  line-height: 21px;
}
.home__contact--content a {
  text-decoration: none;
  color: inherit;
}
.home__contact--content a:nth-of-type(1) {
  text-decoration: underline;
}


/* footer */

footer{
  font-size: 12px;
  height: 20px; 
  color: black; 
  margin-bottom: 48px;
  background-color: white;
}
footer a {
  font-family: 'Audiowide';
}

@media (max-width: 768px) {
  footer {
    height: 60px;
  }
}